body {
  background-color: #1E1E26;
  color: white;
  font-family: Montserrat, Yantramanav, Open Sans;
}

.mf-headings {
  font-family: Yantramanav, Montserrat, Open Sans;
  font-weight: 600;
  font-size: 38px;
  padding-top: 45px;
  padding-bottom: 30px;
}

.mf-subheadings {
  font-family: Yantramanav, Montserrat, Open Sans;
  font-weight: 600;
  padding-top: 20px;
}

#logo {
  padding-left: 50px;
  padding-top: 50px;
}

.mf-descriptor-section-1 {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300px;
  margin-top: 35px;
}

.mf-beta-form {
  margin-bottom: 60px;
}

.mf-section-1-details {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 21px;
  justify-content: center;
  margin-bottom: 60px;
}

.yellowtext {
  color: #ffc107;
}

.title {
  font-family: Yantramanav, Open Sans;
  font-weight: 600;
  font-size: 68px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 17%;
  margin-left: 17%;
}

.email-form {
  margin: 8px;
  margin: 40px;
  font-weight: normal;
  background-color: transparent;
}

#fname, #email {
  min-width: 125px;
  width: 100%;
  background-color: transparent;
  border-style: solid;
  border-bottom: 1.2px solid rgb(223, 223, 223);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
}

#fname:focus, #email:focus {
  outline: none;
}

.section-1-button {
  min-width: 125px;
}

.separator {
  padding-top: 20px;
}

.mf-section-2-top {
  background-color: white;
  color: black;
  text-align: center;
  padding-right: 15rem;
  padding-left: 15rem;
  padding-top: 4rem;
}

.mf-section-2-bottom {
  background-color: white;
  color: black;
  text-align: center;
  padding-right: 15rem;
  padding-left: 15rem;
  padding-bottom: 4rem;
}

.mf-section-2-column-left {
  padding-right: 7.1rem;
}

.mf-section-2-column-right {
  padding-left: 9.5rem;
}

.mf-top-descriptor-padding {
  padding-right: 20rem;
  padding-left: 20rem;
  margin-bottom: 5rem;
  font-size: 19px;
}

.mf-descriptor-left {
  font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 300px;
    text-align: left;
    margin-bottom: 3rem;
}

.mf-descriptor-right {
  font-family: Montserrat, sans-serif;
    font-size: 15px;
    font-weight: 300px;
    text-align: left;
    padding-bottom: 1.5rem;
}

.mf-section-2-right {
  font-family: montserrat, sans-serif;
  margin-left: 50px;
}

.mf-subheadings-img {
  margin-right: 12px;
  width: 70;
  height: auto;
}

.mf-reg-process-img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

button, input {
  color: white;
}

button {
  border-radius: 0px;
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}


iframe {
  visibility: initial;
  border-radius: 0%;
}

.mf-footer {
  font-family: Verdana, sans-serif;
  background-color: #1E1E26;
}

.mf-beta-form-footer {
  margin-top: 60px;
  margin-bottom: 60px;
  color: black;
}
