body {
  background: #06080d;
  color: white;
  font-family: Montserrat, Yantramanav, Open Sans;
}

.mf-headings {
  font-family: Yantramanav, Montserrat, Open Sans;
  font-weight: 600;
  font-size: 38px;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.mf-subheadings {
  font-family: Yantramanav, Montserrat, Open Sans;
  font-weight: 600;
  padding-top: 18px;
  z-index: 1;
  padding-left: 0.4em;
  color: black;
}

.logo {
  padding-left: 50px;
  padding-top: 50px;
  font-family: Alegreya Sans SC;
  font-size: 1.7em;

}

.mf-descriptor-section-1 {
  font-family: Montserrat, sans-serif;
  font-size: 15px;
  font-weight: 300px;
  margin-top: 4rem;
}

.mf-beta-form {
  margin-bottom: 60px;
}

.mf-section-1-details {
  font-family: Montserrat, sans-serif;
  font-weight: lighter;
  font-size: 21px;
  justify-content: center;
  margin-bottom: 1.8rem;
}

.section-1-button {
  color: #6f87f7;
}

.yellowtext {
  color: #6f87f7;
}

.mf-button-change {
  background-color:  #6f87f7;
  border-color: #6f87f7;
  min-width: 100px;
  font-family: Yantramanav, Open sans-serif;
  text-transform: uppercase;
  box-shadow: none;
  color: #06080d;
}

.mf-button-change:hover, .mf-button-change:focus {
  background-color: #06080d;
  border-color:#6f87f7;
  min-width: 100px;
  font-family: Yantramanav, Open sans-serif;
  text-transform: uppercase;
  color: white;
  box-shadow: none;
}

#mf-submit-beta-button {
  background-color: #6f87f7;
  border-color:#6f87f7;
  min-width: 100px;
  font-family: Yantramanav, Open sans-serif;
  text-transform: uppercase;
  box-shadow: none;
  color: white;
}


.mf-beta-button-login {
  color:  #6f87f7;
  background-color: #06080d; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  min-width:6rem;
}

.mf-beta-button-login:hover {
  color: white;
  background-color: #06080d; 
  margin-top: 12px; 
  margin-bottom: 12px; 
  min-width:6rem;
}

.title {
  font-family: Yantramanav, Open Sans;
  font-weight: 600;
  font-size: 68px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 17%;
  margin-left: 17%;
}

.email-form {
  margin: 8px;
  margin: 40px;
  font-weight: normal;
  background-color: transparent;
}

#fname, #email {
  min-width: 125px;
  width: 100%;
  background-color: transparent;
  border-style: solid;
  border-bottom: 1.2px solid rgb(223, 223, 223);
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  margin-right: 20px;
}

#fname:focus, #email:focus {
  outline: none;
}

.section-1-button {
  min-width: 125px;
}

.section-1-arrow {
  margin-bottom: 3rem;
}

.separator {
  padding-top: 20px;
}

.mf-red {
  width:100%;
  height:auto;
  padding:0;
  margin:0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
}


.mf-section-2-top {
  color: black;
  text-align: center;
  padding-top: 6.5rem;
  padding-bottom: 0.5rem;
  background-color: white;

}

.mf-list {
  font-family: Yantramanav, Montserrat, Open sans-serif;
  font-size: 20px;
}

.mf-section-2-bottom {
  color: black;
  text-align: center;
  padding-bottom: 4rem;
  padding-top: 5em;
  background-color: whitesmoke;
}

.mf-top-descriptor-padding {
  padding: 2rem;
  font-size: 19px;
}

.mf-descriptor-left {
  font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 300px;
    text-align: left;
    margin-bottom: 3rem;
}

.mf-descriptor-right {
  font-family: Montserrat, sans-serif;
    font-size: 17px;
    font-weight: 300px;
    text-align: left;
    padding-bottom: 1.5rem;
}

.mf-section-2-right {
  font-family: montserrat, sans-serif;
  margin-left: 50px;
}

.mf-reg-process-img {
  image-rendering: auto;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.mf-icon {
  color: black;
}

button, input {
  color: white;
}

button {
  border-radius: 0px;
  color: white;
  font-family: montserrat, sans-serif;
  font-weight: 600;
}


iframe {
  visibility: initial;
  border-radius: 0%;
}

.mf-footer {
  font-family: Montserrat, Yantramanav, Open Sans;
  background: #06080d;
  padding-top: 2rem;
}

.mf-footer-logo {
  font-family: Alegreya Sans SC;
  font-size: 1.7em;
}

.mf-text-bg {
  position: absolute;
  background-color: #6f87f7;
  width: 160px;
  height: 20px;
  top: 30px;
  opacity: 0.7;
  left: 75px;
  transform: rotate(-3deg);
}

.mf-a {
  color: white;
}

.mf-a:hover {
  color: white;
  text-decoration: underline;
}

.mf-high-z {
  z-index: 5;
}

.mf-row {
  width:100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position:relative;
  background-color: white;
}

.mf-green-2{
  background-color: #F5F5F5;
}

.sep5 {
  transform: translateY(-100%) translateY(2px) scale(1,1);
  transform-origin: top;
}

.svg-separator{
  display: block;
  background: 0 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9;
  -webkit-transform: translateY(-100%) translateY(2px);
  transform: translateY(-100%) translateY(2px);
  width: 100%;
}
